DEBUG=true
IS_TEST=false

APP_HOST=0.0.0.0
APP_PORT=8000

ZOOKEEPER_ADDRESS=zookeeper:2181
ZOOKEEPER_AUTH_USERNAME=username
ZOOKEEPER_AUTH_PASSWORD=secret

COUNTER_RANGE_SIZE=1000

SHORT_URL_ADDRESS=http://sho.rt

REDIS_URL=redis://redis:6379/0

DB_HOST=db-app
DB_PORT=27017
DB_USERNAME=username
DB_PASSWORD=secret
DB_NAME=app

TEST_DB_HOST=db-test
TEST_DB_PORT=27017
TEST_DB_USERNAME=username
TEST_DB_PASSWORD=secret
TEST_DB_NAME=test

JWT_ALGORITHM=HS256
JWT_SECRET_KEY=secret
JWT_EXPIRE_MINUTES=120
