MONGO_INITDB_ROOT_USERNAME=username
MONGO_INITDB_ROOT_PASSWORD=secret

MONGO_APP_DB_NAME="app"
MONGO_APP_DB_USER="username"
MONGO_APP_DB_PASSWORD="secret"

MONGO_TEST_DB_NAME="test"
MONGO_TEST_DB_USER="username"
MONGO_TEST_DB_PASSWORD="secret"
